<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <input type="text" v-model="formValue">
    <p>{{ displayValue }}</p>
  </div>
  <script src="https://unpkg.com/vue@2.5.17"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data() {
        return {
          formValue: ''
        }
      },
      computed: {
        displayValue() {
          return this.formValue;
        }
      },
      mounted() {
        this.setValue();
      },
      methods: {
        setValue() {
          this.formValue = 'hello world';
        }
      }
    });
  </script>


  <div id="bpp">
    <p>人数: {{ list.length }}</p>
    <ul>
      <li v-for="(item, i) in list" :key="item">{{ item }}
        <button @click="removeItem(i)">x</button>
      </li>
    </ul>
    <input type="text" v-model="inputItem">
    <button @click="addItem">add</button>
  </div>

  <script>
    const bpp = new Vue({
      el: "#bpp",
      data: {
        list: ["山田", "佐藤", "高橋"],
        inputItem: "",
      },
      methods: {
        addItem: function () {
          this.list.push(this.inputItem)
        },
        removeItem: function (index) {
          this.list.splice(index, 1)
        }
      }
    })
  </script>

</body>

</html>