<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue3</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="formValue">
        <p>{{ displayValue }}</p>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    formValue: ''
                }
            },
            computed: {
                displayValue() {
                    return this.formValue;
                }
            },
            mounted() {
                this.setValue();
            },
            methods: {
                setValue() {
                    this.formValue = 'hello world';
                }
            }
        });
        app.mount('#app');

    </script>
//
    <template>
        <div>
            <p>人数: {{ list.items.length }}</p>
            <ul>
                <li v-for="(item, i) in list.items" :key="item">{{ item }}
                    <button @click="removeItem(i)">x</button>
                </li>
            </ul>
            <input type="text" v-model="inputItem">
            <button @click="addItem">add</button>
        </div>
    </template>

    <script>
        import { ref, reactive } from "vue";

        export default ({
            setup() {
                const list = reactive({
                    items: ["山田", "高橋", "佐藤"]
                });
                const inputItem = ref("");

                const addItem = () => {
                    list.items.push(inputItem.value);
                    inputItem.value = "";
                };
                const removeItem = (index) => {
                    list.items.splice(index, 1);
                };

                return {
                    list,
                    inputItem,
                    addItem,
                    removeItem
                };
            }
        })
    </script>
</body>

</html>